html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 80%;
}
  
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
  
body {
  font-family: 'Montserrat', sans-serif;
  background:url('../img/bg.jpg');
  background-size: 100%;
  color:white
}
h1{
  text-align:center;
  margin-bottom: 50px;
}
.flex{
  display:flex;
}
#pod_list{
  width:100%
}
.grid {
  display: flex;
  flex-direction: row;
  width: 71%;
  margin: 0 auto;
  flex-direction: column;
}
.list-element img{
  width:200px;
  height:200px;
}
.list-element{
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  background: #0f2e4e;
  margin-bottom: 15px;
  border: 2px solid #646464;
  gap: 35px;
}
.list-element button{
  margin-top: 15px;
  background: #062647;
  border: 2px solid #646464;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.list-detail{
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  background: #0f2e4e;
  margin-bottom: 15px;
  border: 2px solid #646464;
}

#search{
  display:none;
}
#search input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 17px;
  background: #3c4e61;
  border: 2px solid #062647;
  color: white;
}